.book-image {
	height: 50vw;
	width: 35vw;
	margin-bottom: 2vw;
}

.books-on-lists {
	text-align: left;
	width: 50vw;
	margin: auto;
}

.add-remove-button {
	margin-top: 0;
}

.on-list-title {
	padding-bottom: 2vw;
}

.book-jumbotron {
	color: white;
	margin: auto;
	padding-top: 20px;
	width: 70vw;
}

.book {
	width: 70vw;
	margin: auto;
}

.lead {
	text-align: justify;
}
