.book-image {
	height: 50vw;
	width: 35vw;
	margin-bottom: 2vw;
}

.books-on-lists {
	text-align: left;
}

.add-remove-button {
	float: right;
	margin-top: 0;
}

.on-list-title {
	padding-bottom: 2vw;
}
